/* Initialises the page with no margin or padding */
*{
    margin: 0;
    padding: 0;
}
body {
    /* Centralises everuthing, and adds a shadow behind all the text */
    text-align: center;
    text-shadow: 0 1px 0px rgba(0,0,0,.5);
}

header {
    /* Gives a font to the header, with an opacity, and pushes it up using padding */
    font-family: 'Sulphur Point', sans-serif;
    color: black;
    opacity: 0.3;
    padding-bottom: 15px;
}
/* Styles the image of me to be a circle */
.circles img {
    width: 170px;
    height: 170px;
}

.profilePic{
    border-radius: 50%;
}

.circles {
    margin-top: 2rem;
    margin-bottom: 2rem;
    transition: opacity .25s ease-in-out;
}
/* Styles the button */
.btn-get-resume .btn {
    font-size: 1.3rem;
    opacity: .75;
    transition: opacity .25s ease-in-out;
    color: rgb(33, 33, 139);
    font-family: sans-serif;
}
/* If user hovers over button the opacity will go down */
.btn-get-resume:hover {
    opacity: 0.5;
}
/* Gives the button a border style and positions it in relative to everthing else */
.btn {
    display: inline-block;
    padding: 8px 18px;

    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: rgb(242, 243, 247);
    border: 2px dotted;
    border-radius: 4px;
    text-decoration: none;
}

/* Specifically styles the h3 elements to have a specific size */
h3 {
    font-size: 1.3rem;
    text-decoration: none;
    font-family: 'Sulphur Point', sans-serif;
    color: black;
}

h3:hover {
    text-decoration: none;
}
h4 {
    font-size: 1.5rem;
    color: black;
    
}
/* Styles the links to change cover when hovered over */
i {
padding: 15px;
font-family: sans-serif;
color: rgb(33, 33, 139);
font-size: 50px;

}
.links li a .i {
    font-size: 75px;
    text-decoration: none;
    height: 10px;
    margin-top: 1rem;
}

a:hover {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

.links li {
    display: inline;
    padding: 0;
    margin: 2 rem;
    white-space: nowrap;
    list-style-type: none;
    opacity: 0.2;
    padding: 1 rem;
}
.links li:hover {
    opacity: 2;
}